<div class= "row">
  <h3>コメント一覧</h3>
</div>

<!--投稿履歴一覧-->
<div class= "row">
  <%= render "public/comments/comment", comments: @comments %>
</div>

<div class= "d-flex justify-content-center">
  <%= paginate @comments %>
</div>

