<div class= "container">
  <div class= "row">
    <h3>コメント一覧</h3>
  </div>

  <div class= "row">
    <!--投稿履歴一覧-->
    <div>
      <%= render "public/comments/comment", comments: @comments %>
      <%= paginate @comments %>
    </div>
  </div>
</div>