<div class= "container">
  <div class= "row">
    <h3><%= @post.title %>へのコメント一覧</h3>
  </div>

  <div class= "row">
    <!--投稿履歴一覧-->
    <div class= "col-auto">
      <%= render "public/comments/comment", comments: @comments %>
      <%= render "public/comments/form", post_image: @post, comment: @comment_new %>
      <div>
        <%= link_to post_path(@post) do %>
          <p>写真の画面に戻る</p>
        <% end %>
      </div>
    </div>
  </div>
</div>