<div class= "container">
  <div class= "row">
    <div class= "mx-auto">
      <div class="position-relative" style="height:4rem">
        <%= image_tag 'photo0000-7105', alt: 'top用画像', size: '1000x750', class: "img-fluid" %>
      </div>
       <span class="m-5 position-absolute translate-middle">
        <h1>DOKO</h1>
          このサイトは、非現実の中の景色のような美しい風景・情景の写真や<br>
          身近にある四季折々の風景を載せてその雰囲気を楽しむ、<br>
          風景が好きな人同士に向けたコミュニティサイトです。
      </span>
    </div>
  </div>
</div>