<div class="top-back">
  <div class="p-3 text-white">
    <h1>DOKO</h1>
    <p>
      このサイトは、非現実の中の景色のような美しい風景・情景の写真や<br>
      身近にある四季折々の風景を載せてその雰囲気を楽しむ、<br>
      風景が好きな人同士に向けたコミュニティサイトです。
    </p>
  </div>
  <div class="login-button">
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success mb-2" %><br>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mb-2" %><br>
    <%= link_to "ゲストでログイン", guest_path, method: :post, class: "text-white btn btn-primary" %>
  </div>
</div>
