<div class= "row">
  <h2><%= @tag.name %>の一覧</h2>
</div>

<div class= "row">
  <div class= "col-auto">
    <div class= "d-flex flex-wrap">
    <!--post_image=投稿物、投稿を4つごとに折り返す-->
      <%= render "public/posts/list", posts: @posts, tag: @post_tags %>
    </div>
  </div>
</div>

<div class= "d-flex justify-content-center">
  <%= paginate @posts %>
</div>

