@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
*{
  font-family: 'Sawarabi Gothic', sans-serif;
}

body, html { font-size: 16px; }
@media screen and (max-width: 575px) { body, html { font-size: 1.5rem; } }
@media screen and (min-width: 576px) and (max-width: 768px) { body, html { font-size: 1.25rem; } }
