<div class= "row">
  <h2>マイページ</h2>
</div>

<div class= "row">
  <%= render "public/users/info", user: @user %>
</div>

<div class= "row">
  <div class= "d-flex">
    <h3 class= "">自分の投稿一覧</h3>
    <%= link_to "新規投稿",  new_post_path, class: "btn btn-primary" %>
  </div>
</div>

<!-- 自分の投稿一覧 -->
<div class= "row mt-3">
  <%= render "public/posts/user", user: @user, posts: @post %>
</div>