<div class="container">
 <div class='row'>
  <div class='mx-auto'>
   <div style="text-align:center">
     <h3>本当に退会しますか？</h3>

      <p>退会すると、マイページ編集が不可能となり</br>
      <p>ブックマークリストが見れなくなります。</br>
      <p>退会する場合は、「退会する」をクリックしてください。</br></p>

      <%= link_to "退会しない", my_page_path, class: "btn btn-sm btn-success" %>
      <%= link_to "退会する", status_path, method: :patch, class: "btn btn-sm btn-danger" %>
     </div>
    </div>
  </div>
</div>